/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author: Julian Leahy - julianleahy.com
   ========================================================================== */

body {
    font: 16px/1.5 'Raleway', Helvetica, Helvetica Neue, Arial, sans-serif;
    background-color: #222222;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1140px;
}

/* =Header */
header {
    background: #222222 url("~images/bcg_header_s.jpg") no-repeat top center;
    color: #fff;
    text-align: center;
    padding: 140px 0 20px 0;
    position: relative;
    z-index: 2;
}

header h1 {
    font-size: 1.5em;
    line-height: 1.2em;
    text-transform: uppercase;
}

header p {
    color: #f3cc11;
    line-height: 1.2em;
}

/* =Profiles */

#profiles {
    background: url("~images/bcg_profiles.png") repeat-y top center;
    background-attachment: fixed;
    color: #fff;
    position: relative;
    background-size: auto 45px;
    z-index: 2;
}

.boxer {
    width: 45%;
    margin: 0 5%;
    padding: 210px 0 20px 0;
    position: relative;
}

.boxerA {
    margin-left: 0;
}

.boxer h2 {
    margin-top: 0;
    font-size: 1.2em;
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: center;
}

.boxer p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.boxerA {
    float: left;
    margin-left: 0;
}

.boxerB {
    float: right;
    margin-right: 0;
}

.boxerImg {
    width: 138px;
    height: 152px;
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -69px;
}

#profiles:after {
    content: 'VS';
    display: block;
    position: absolute;
    top: 218px;
    left: 50%;
    width: 75px;
    margin-left: -39px;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
}

.boxerA .boxerImg {
    background: url("~images/img_boxerA.png") no-repeat top left;
    background-size: 138px 152px;
}

.boxerB .boxerImg {
    background: url("~images/img_boxerB.png") no-repeat top left;
    background-size: 138px 152px;
}

#boxingRing {
    background-color: #e7e7e7;
    position: relative;
    height: 344px;
    z-index: -1;
}

#stage {
    width: 300px;
    height: 273px;
    background: url("~images/bcg_ring.png") no-repeat top right;
    background-size: 300px 273px;
    position: absolute;
    top: 35px;
    left: 50%;
    margin-left: -150px;
}

footer {
    background-color: #ffffff;
    text-align: center;
    position: relative;
    z-index: 2;
}

@media only screen and (min-width: 768px) {
    /* =General */

    /* =Header */
    header {
        background-image: url("~images/bcg_header.jpg");
        padding: 420px 0 20px 0;
    }

    header h1 {
        font-size: 3.125em;
    }

    header p {
        font-size: 2em;
        line-height: 1.2em;
    }

    /* =Profiles */
    #profiles {
        background-size: auto auto;
    }

    #profiles:after {
        top: 170px;
        width: 150px;
        margin-left: -78px;
        font-size: 3.75em;
    }

    .boxer {
        padding-top: 380px;
    }

    .boxer h2 {
        font-size: 2.5em;
        line-height: 1.12em;
        text-align: left;
    }

    .boxer p {
        font-family: 'Raleway', Helvetica, Helvetica Neue, Arial, sans-serif;
        font-weight: normal;
    }

    .boxerImg {
        width: 276px;
        height: 305px;
        top: 60px;
        margin-left: -138px;
        background-size: 100% 100%;
    }

    .boxerA .boxerImg,
    .boxerB .boxerImg {
        background-size: 100% 100%;
    }

    /* =Boxing Ring */
    #boxingRing {
        background-color: #e7e7e7;
        position: relative;
        height: 4650px;
        overflow: hidden;
    }

    #stage {
        position: fixed;
        width: 718px;
        height: 654px;
        background-size: 718px 654px;
        top: 50%;
        left: 50%;
        margin-left: -359px;
        margin-top: -327px;
    }

    .boxerTop {
        width: 142px;
        height: 123px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -240px 0 0 -200px;
        z-index: 2;
    }

    .boxerTopA {
        background: url("~images/img_boxerA-top.png") no-repeat top left;
    }

    .boxerTopB {
        background: url("~images/img_boxerB-top.png") no-repeat top left;
        margin: 60px 0 0 64px;
    }

    #round1,
    #round2 {
        display: block;
        padding: 20px 30px;
        font-size: 2em;
        background-color: #222222;
        color: #fff;
        text-transform: uppercase;
        width: 170px;
        text-align: center;
        position: fixed;
        top: 50%;
        left: 50%;
        margin: -80px 0 0 -110px;
    }

    #moves {
        width: 313px;
        height: 295px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -186px 0 0 -154px;
        background: url("~images/img_move1.png") no-repeat 0 0;
    }

    .indicator {
        position: fixed;
        bottom: 50%;
        left: 50%;
        margin: 0 0 0 -350px;
        height: 5px;
        width: 10px;
        background-color: #abcc14;
    }

    .indicator p {
        text-align: center;
        position: absolute;
        bottom: -34px;
        text-transform: uppercase;
        margin: 0 0 0 -30px;
    }

    .indicatorB {
        right: 50%;
        margin: 0 0 0 350px;
    }

    .indicatorB p {
        margin: 0 0 0 30px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print, (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
